body{
    margin: 0;
    padding: 0; 
    /* width: 100%; */
    /* background-color: #212d33; */
    background-image: radial-gradient(circle, #212d33, #243238, #27363d, #2b3b43, #2e4048);
}

h1 { font-family: MedievalSharp; 
    font-size: 4rem; 
    font-style: normal; 
    font-variant: normal;
    font-weight: 700; 
    line-height: 26.4px; 
} 
h3 { 
    font-family: MedievalSharp;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 
p { 
    font-family: MedievalSharp; 
    font-size: 1rem; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
} 

blockquote { 
    font-family: MedievalSharp; 
    font-size: 21px; font-style: normal;
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 
pre {
    font-family: 
    MedievalSharp; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; }

.wrapper{
    margin: 0  auto;
    max-width: 1600px;
    width: 100%;
    background-color: #141b1fad;
    display: flex;
    flex-direction: column;
}

/* .wrapper::after{
    content:'';
    width: 400px;
    height: 100%;
    background: linear-gradient(#ff469f, #ff6062);
    background: url("img/pattern.png");
    background-size: contain;
    position:absolute;
    right: -460px;
}

.wrapper::before{
    content:'';
    width: 400px;
    height: 100%;
    background: linear-gradient(#ff469f, #ff6062);
    background:url("img/pattern.png");
    background-size: contain;
    position:absolute;
    left: -460px;
} */

header{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 120px;
    background-color:#131A1E;
}

header .headImgLogo{
    width: 100px;
}

header nav a{
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    margin: 2rem;
}

header .headImgMenu{
    display: none;
}

main{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 3rem;
    margin-bottom: 3rem;
    background: linear-gradient(90deg, #00000088 50%, #ffffff44 100%),
    url("img/IMG_1442.JPEG");
    background-size: cover;
}

main .col1{
    color: white;
    position: relative;
    flex-basis: 40%;
   
}

main p{
    margin-left: 0;
}

.mainNav{
    margin-top: 2rem;
    display: flexbox;
}

.mainNav a{
    color: white;
    text-decoration: none;
    padding-right: 1rem;
    
}

.mainNav a:not(:last-child):after{
    color: orange;
    padding-left: 1rem;
    content: "|";
}

main .col2{
    position:relative;
    flex-basis: 40%;
}

main .col2 img{
    width: 70%;
}

.btn{
    width: 150px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 2px;
    cursor: pointer;
    transition: all .5s ease;
}

.btn:hover{
    width: 160px;
    font-weight: bold;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    margin-bottom: 3rem;
}

.col1Art{
    width: 100%;
    display: flex;
    justify-content:space-around;
    box-sizing: border-box;
    padding: 0 2rem;
    gap:1rem;
}

.col2Art{
    display: flex;
    background-color: yellow;
}

.art{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(29, 29, 29);
    border-radius: 3px;
    box-shadow: 0 0 2rem rgb(0, 0, 0, 0.4);
    flex-basis: 30%;
    min-height: 500px;
    box-sizing: border-box;
    /* padding: 1rem; */
    color: white;
}

.art img{
    width: 100%;
}

.art button, h3, p{
    margin: 1rem;
}

.art h3{
    margin-top: 1rem;
    font-size: 2rem;
}

footer{
    background-color: rgb(29, 29, 29);
    height: 200px;
    width: 100%;
}
