body{
    background-color: #eee;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main{
    max-width: 1500px;
    min-height: 300px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.errorMessage{
    width: 50%;
    height: 100px;
    background: rgba(255, 0, 0, 0.52);
    border-radius: 100px;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    transition: all 0.5s ease;
    gap: 2rem;
    color: white;
    font-size: 1.3rem;
}

.errorMessage img{
    transition: all 0.5s ease;
}

.errorMessage img:hover{
    transform: scale(1.3);
}

.top{
    width: 60%;
    display: flex;
    gap: 2rem;
    align-items: center;    
}

.forms{
    background: rgba(0, 0, 0, 0.157);
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 1rem;
    padding-left: 1.5rem;
    position: relative;
    box-shadow: 0 0 10rem rgb(0, 0, 0, 0.1);
}

@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}

.forms p{
    color: white;
    font-size: 1.2rem;
    flex: 25%;
}


section.images{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0;
    gap: 0;
    
}

.topImg{
    
    flex: 100%;
    /* background: rgba(39, 39, 39, 0.130); */
    height: 600px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.2s ease;
    margin-bottom: 2rem;
    margin-top: 1rem;
    box-shadow: 0 0 10rem rgb(0, 0, 0, 0.05);
}

.newImg{
    height: 120px;
    flex: 10%;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease;
    margin: 0;
    -webkit-filter: brightness(100%);
    box-shadow: 0 0 2rem rgb(0, 0, 0, 0.2);    
}

.newImg:hover {
    -webkit-filter: brightness(50%);
    transform: scale3d(1.2,1.2,1.2);
    z-index: 10;
}

.changePage{
    display: none;
    width: 50%;   
    height: 50px;
    justify-content:center;
    align-items: center;
    color: rgba(255, 255, 255, 0.582);
    font-size: 1.3rem;
    gap: 1rem;
}


section.inputs{
    width: 90%;
    box-sizing: border-box;
    display: flex;
    background-color:white;
    align-items: center;
    height: 70px;
    padding-right: 1rem;
    padding-left: 1.5rem;
    border-radius: 50px;
    gap: 1rem;

}



input[type="range"]{
    -webkit-appearance:none;
    width:100%;
    height:10px;
    /* background: linear-gradient(to right, #6a67ff 0%, #e94411 100%); */
    background-image: linear-gradient(to right, #00aec6, #00c0c4, #00d0a8, #00dc73, #1ee300);
    background-position:center;
    background-repeat:no-repeat;
    outline: none;
    border-radius: 5px;
  }

  input[type="range"]:first-of-type{
    margin: auto auto;
  }

  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background: #3db1ff;
    z-index:3;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
    border-radius: 50px;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  input[type="range"]::-webkit-slider-thumb:hover{
      transform: scale(1.2);
      background: #30a9fa;
  }

.btn{
    border: 0;
    padding: 12px 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale3d(1,1,1);
    transition: all .5s ease;
    font-size: 1.5rem;
    background: none;
    
}

.btn.search{
   width: 10%;
   background-image:url("img/search.png");
   background-size:contain;
   background-repeat: no-repeat;
   background-position: center;
}

.btn.search:hover{
    transform: scale(1.3);
}

.btn.filter{
    background: #0000004b;
    background-image: url("img/filter.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

#previous{
    background: #0000004b;
    background-image: url("img/page prev.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

#next{
    background: #0000004b;
    background-image: url("img/page.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.btn.shadow{
    height: 50px;
    width: 30%;
    opacity: 0.7;
}

.btn:hover{
    transform:scale3d(1.1, 1.1,1.1);
}


.text{
    width: 90%;
    border-style: none;
    height: 85%;
    border-radius: 5px;
    font-size: 2rem;
    padding-left: 1rem;
}

input:focus {
    outline-width: 0;
}

#rangeValue{
    color: white;
    font-size: 1rem;
    flex: 5%;
}

